{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.7.0"},
  {erlang_localtime, "1.0.0"},
  {sumo_db, "0.7.7"},
  {sumo_db_pgsql, "0.2.0"},
  {shotgun, "0.4.0"},
  {jiffy, "1.0.1"}
]}.

{relx, [{release, {year_progress_bot, "0.1."},
         [year_progress_bot,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            },
            {test, [{deps, [
                {meck, "0.8.13"},
                {etest_http, "1.0.2"}
            ]}]}]
}.
