[
  {year_progress_bot, []},
  {sumo_db, [
    {wpool_opts, [{overrun_warning, 100}]},
    {log_queries, true},
    {query_timeout, 30000},
    {storage_backends, [
      {our_backend_pgsql, sumo_backend_pgsql, [
        {host,     "127.0.0.1"},
        {port,      5432},
        {database, "yrpb"},
        {username, "postgres"},
        {password, "postgres"}
      ]}
    ]},
    {stores, [
      {pgsql_store, sumo_store_pgsql, [
        {storage_backend, our_backend_pgsql},
        {workers, 10}
      ]}
    ]},
    {docs, [
      {chats, pgsql_store, #{module => chats}}
    ]},
    {events, []}
  ]}
].
